<!doctype html>

html lang="en" ng-app="app" ng-controller="appController"
    head
        meta charset="utf-8"

        base href="/" 

        title ng-bind=""
        meta name="description" content=""
        meta name="author" content=""
        meta name="viewport" content="initial-scale=1, maximum-scale=1, width=device-width"

        link rel="stylesheet" href="normalize.css"
        link rel="stylesheet" href="style.css"

        script type="application/javascript" src="script.js"

        /[if lt IE 9]
            script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"

    body
        nav ng-class="{'slide': !!name}"
            a ui-sref="home" 
                h1 gatsby
            .wrapper.profile ng-if="name"
                .left
                    img#avatar ng-src="{{avatar | avatarSizer}}"
                    h3#name {{name}}
                .right
                    h2 {{user.streams | objectFilter}}
                    h6 ng-pluralize="" count="user.streams | objectFilter" when="{'1': 'stream', 'other': 'streams'}"
                    a.button ui-sref="logout" logout
        ui-view.anim-in-out.anim-fade data-anim-speed="100"
    
