.wrapper.center
    a.button ui-sref="write" {{user.latest?'Continue writing':'Start writing'}}
    
    ul
        li ng-repeat="stream in user.streams" ng-if="!!stream" 
            h2 {{stream.title}}
            p {{stream.completed | amCalendar}}