h2 ng-if="!stream" Loading...
.wrapper ng-show="stream"
    textarea ng-model="stream.writing" ng-focus="abandon_confirm=false" overflow="stream.written" ng-change="updateWords()" autofocus="" placeholder="Just write it down"
    .stream-actions.center ng-init="abandon_confirm=false"
        a.button#abandon ng-click="abandon()" {{abandon_confirm?'Sure?':'Abandon'}}
        a.button ng-class="{'disabled': !words}" Complete
div.caption.wrapper.wrapper--dark ng-show="stream"
    .left
        span {{words}} 
        ng-pluralize.faded count="words" when="{'one': 'word', 'other': 'words'}"
    span.faded.right  {{created | amCalendar}}