.wrapper
    input type="text" placeholder="untitled" ng-model="title" autofocus="true"

.wrapper.dark
    a.button.minor ui-sref="write" Back
    a.button.right ng-click="save()" {{saving?'Saving...':'Done'}}