h1, .h1 { font-size: 300%; font-weight: 100; line-height: 1.2em; display: inline-block;}

h2, .h2 { font-size: 250%; font-weight: 100; line-height: 1.2em; display: inline-block;}

h3, .h3 { font-size: 200%; font-weight: 100; line-height: calc(200% * 1.2); display: inline-block;}

h4, .h4 { font-size: 180%; font-weight: 300; line-height: calc(180% * 1.2); display: inline-block;}

h5, .h5 { font-size: 130%; font-weight: 300; line-height: calc(130% * 1.2); display: inline-block;}

@font-face {
    font-family: 'MajestiBanner';
    src: url('fonts/Majesti-Banner-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MajestiBanner';
    src: url('fonts/Majesti-Banner-LightItalic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'MajestiBanner';
    src: url('fonts/Majesti-Banner-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'MajestiBanner';
    src: url('fonts/Majesti-Banner-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@mixin alt-font {
    font-family: "Gotham Rounded", sans-serif;
    font-weight: 200;
    letter-spacing: 7px;
    text-transform: uppercase;
    font-size: .7em;
    // -webkit-font-smoothing: subpixel-antialiased
}

.faded {
    opacity: .5;
}

body {
    font-family: "MajestiBanner", sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    font-weight: normal;
    font-size: 16px;
    color: $black;
}

p, textarea {
    margin: 0;
    padding: 0;
}

a {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
}
.caption {
    font-style: italic;
}