.wrapper {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 50px 50px;
    background-color: #fff;

    &.wrapper--dark {
        background-color: transparent;
        padding-top: 20px;
    }
}

nav {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 30px 0 20px;;
    overflow: hidden;
    position: relative;
    height: 30px;

    &.slide:hover .nav__slider {
        transform: translateY(-50%);
    }

    .nav__slider {
        width: 100%;
        height: 200%;
        transition: transform .3s ease-in-out;
        position: absolute;

        .nav__item {
            width: 100%;
            height: 50%;
            display: block;
            text-align: center;
            float: left;
            margin: 0;

            a {
                font-style: italic;
                line-height: 1.2em;
                text-decoration: none;
            }

            .avatar {
                opacity: 1;
                &:hover img {
                    opacity: 1;
                    transition: opacity .2s;
                }
                img {
                    border-radius: 50px;
                    height: 2.6em;
                    opacity: 0.8;
                    margin-left: 1.5em;
                    vertical-align: middle;
                    margin-top: -0.6em;
                }
            }
        }
    }
}
.stream-actions {
    margin-top: 2em;
}